<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pptx</string>
	<string>M8.1-5683-2</string>
	<string>G-r310-3B81</string>
	<string>M8.1-5683-2</string>
	<string>G-r310-3B81</string>
	<string>M8.2-5869-2</string>
	<string>G-r320-3C102</string>
	<string>M8.2-5869-2</string>
	<string>G-r320-3C102</string>
	<string>M8.2-5869-2</string>
	<string>G-r320-3C102</string>
	<string>M8.2-5869-2</string>
	<string>G-r320-3C102</string>
	<string>M8.2-5869-2</string>
	<string>G-r320-3C102</string>
</array>
</plist>
